.hidden { display: none; }

.action-bar {
    /* border: 1pt solid grey; */
    border-radius: 5px;
    /* margin: .5em .5em 0; */
    padding: .5em;
}

.action-bar fieldset {
    border-radius: 5px;
    display: inline-block;
}

.action-bar button {
    cursor: pointer;
    padding: .5em 1em;
    min-width: 6em;
}

.unsaved-container {
    color: red;
    float: right;
    font-style: italic;
    font-weight:bold;
    padding: .5em 1em;
}

.tableStructure button { 
    cursor: pointer;
    padding: .25em .5em;
    min-width: 3em;
}

.facets, .fields, .composite {
    border: 1pt solid grey;
    border-radius: 5px;
    float: left;
    margin: .5em;
    padding: 0 1em;
    /* width: 20%; */
}

.queries, .indices {
    border: 1pt solid grey;
    border-radius: 5px;
    margin: .5em;
    padding: 0 1em;
}

.queryList, .queryDetails, .indexList, .indexDetails {
    display: inline-block;
    width: 50%;
}

.queryDetails, .indexDetails {
    width: 45%
}

/* .queryDetails input, .queryDetails select, .indexDetails input, .indexDetails select { */
.queryEditor select, .queryEditor input {
    display: block;
    margin-bottom: 1em;
    padding: .25em;
    width: 80%;
}

.facets li, .fields li, .queries li, .indices li {
    cursor: pointer;
    position: relative;
}

.fields span {
    /* min-width: 70%; */
    display: inline-block;
    margin-right: 1em;
}

.fields select.spacefiller { visibility: hidden; }

.fields select.floater {
    position: absolute;
    right: 0;
}

.highlightedfacet, .highlightedfield, .highlightedquery, .highlightedindex { font-weight: bold }

.compositeKeys, .compositeKeyOptions {
    /* margin-bottom: 1em; */
    margin-top: 1em;
    width: 100%;
}