.hidden { display: none; }

.action-bar {
    /* border: 1pt solid grey; */
    border-radius: 5px;
    /* margin: .5em .5em 0; */
    padding: .5em;
}

.action-bar fieldset {
    border-radius: 5px;
    display: inline-block;
}

.action-bar button {
    cursor: pointer;
    padding: .5em 1em;
    min-width: 6em;
}

.unsaved-container {
    color: red;
    float: right;
    font-style: italic;
    font-weight:bold;
    padding: .5em 1em;
}

.tableStructure button { 
    cursor: pointer;
    padding: .25em .5em;
    min-width: 3em;
}

.facets, .fields, .composite {
    border: 1pt solid grey;
    border-radius: 5px;
    float: left;
    margin: .5em;
    padding: 0 1em;
    /* width: 20%; */
}

.queries, .indices {
    border: 1pt solid grey;
    border-radius: 5px;
    margin: .5em;
    padding: 0 1em;
}

.examples {
    border: 1pt solid grey;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
    padding: 0 1em;
}

.queryList, .queryDetails, .indexList, .indexDetails {
    display: inline-block;
    width: 50%;
}

.queryDetails, .indexDetails {
    width: 45%
}

.queryEditor select, .queryEditor input {
    display: inline-block;
    margin-bottom: 1em;
    padding: .25em;
    width: 80%;
}

.queryDetails label, .indexDetails label {
    display: inline-block;
    width: 12%;
}

.queryDetails label:after, .indexDetails label:after { content: ":"; }

.facets li, .fields li, .queries li, .indices li {
    cursor: pointer;
    position: relative;
}

.fields span {
    /* min-width: 70%; */
    display: inline-block;
    margin-right: 1em;
}

.fields select.spacefiller { visibility: hidden; }

.fields select.floater {
    position: absolute;
    right: 0;
}

.examples table {
    margin-top: .5em;
    border-collapse: collapse;
}
.examples table td {
    padding: .25em .5em;
}

.examples table th.composite-key-field-colorlabel {
    color: red;
}

.examples table td input:read-only, .examplesBarRead input:read-only, #examplesBody input:read-only {
    background-color: #eee;
    border: 1pt solid gray;
}

.examples tr:hover {
    background-color: #EEE;
    cursor: pointer;
}

.examplesRowSpacing th {
    padding-top: 1.5em;
}

.examplesBarWrite, .examplesBarRead {
    display: inline-block;
    margin-right: 1em;
}

.examplesBarRead label {
    font-weight: bold;
    margin-left: 1em;
}

.highlightedfacet, .highlightedfield, .highlightedquery, .highlightedindex, .highlightedexample { font-weight: bold }

.highlightedexample, .highlightedexample:hover {
    background-color: #CCC;
    /* color: white; */
}

.compositeKeys, .compositeKeyOptions {
    /* margin-bottom: 1em; */
    margin-top: 1em;
    width: 100%;
}